<div class="grid">
  <div class="col-12">
    <div class="card">
      <h4>SEAWAY SOC Web | Status das últimas atualizações dos registros</h4>
      <p-toast />
      <p-divider />
      <p-confirmDialog />
      <br>

      <p-table [value]="[{}]" styleClass="p-datatable-striped">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Atualizações
            <p-button (onClick)="confirmRefresh($event)" label="Atualizar registros" icon="pi pi-refresh" iconPos="left"
              severity="info"></p-button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Usuário</th>
            <th>Data / Hora</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reg>
          <tr>
            <td>{{ reg?.user?.fullname }}</td>
            <td>{{ reg?.createdAt | date: 'dd/MM/yyyy'}} às {{reg?.createdAt | date: 'HH:mm'}}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2">Ainda sem registro de atualização...</td>
          </tr>
        </ng-template>
      </p-table>

      <br><br>
    </div>
  </div>
</div>

<div class="progress-spinner" *ngIf="submitLoading">
  <p-progressSpinner></p-progressSpinner>
</div>